<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web ca do</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <p> Xin chao !!!</p>
    <div>
        <img class="dopadown" src="/images/Screenshot from 2024-07-01 13-39-30.png"></img>
    </div>
</body>
</html>